<header class="header">
	<div class="header__container">
		<div class="flex">
			<img class="header__container--logo" src="{{asset('build/images/logo.png')}}" alt="Logo de Nutrisain.">
			<button class="header__container--btn">
				<i class="fas fa-bars"></i>
			</button>
		</div>
		<div>
			<nav class="header__container--nav">
				<a href="{{path('app_home')}}" class="btn btn__primary header__link">Accueil</a>
				<a href="{{path('app_dishes_index')}}" class="btn btn__primary header__link">La carte</a>
				<a href="{{path('app_menus')}}" class="btn btn__primary header__link">Nos menus</a>
				<a href="{{path('app_reservation')}}" class="btn btn__primary header__link">Réserver</a>
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{path('admin')}}" class="btn btn__primary header__link">Administration</a>
				{% endif %}
				{% if app.user %}
					<a href="{{path('app_home')}}" class="btn btn__primary header__link">Mon compte</a>
					<a href="{{path('app_logout')}}" class="btn btn__primary header__link">Se déconnecter</a>
				{% else %}
					<a href="{{path('app_register')}}" class="btn btn__primary header__link">S'inscire</a>
					<a href="{{path('app_login')}}" class="btn btn__primary header__link">Se connecter</a>
				{% endif %}
			</nav>
		</div>
	</div>
</header>