{% extends 'base.html.twig' %}

{% block title %}Le Quai Antique - Inscription{% endblock %}

{% block body %}
<h1 class='register-form__title'>Formulaire d'inscription</h1>

<section class="register-form__flux">
{{ form_start(registrationForm, {'attr': {'class': 'register-form__form'}}) }}

    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        'label': 'Mot de passe',
    }) }}
    {{ form_row(registrationForm.name) }}
    {{ form_row(registrationForm.firstname) }}
    {{ form_row(registrationForm.defaultNumberOfGuests) }}
    {{ form_row(registrationForm.allergy) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit" class="btn register-form__button">S'inscire</button>
</section>
{{ form_end(registrationForm) }}
</section>
{% endblock %}
