{% extends 'base.html.twig' %}

{% block title %}Le Quai Antique - Inscription{% endblock %}

{% block body %}
<h1>Formulaire d'inscription</h1>


{{ form_start(registrationForm) }}
<section>
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(registrationForm.name) }}
    {{ form_row(registrationForm.firstname) }}
    {{ form_row(registrationForm.defaultNumberOfGuests) }}
    {{ form_row(registrationForm.allergy) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit" class="btn">S'inscire</button>
</section>
{{ form_end(registrationForm) }}
{% endblock %}
