{% extends 'base.html.twig' %}

{% block title %}Le Quai Antique - La carte{% endblock %}

{% block body %}
<section class="main-dishes">
    <h1 class="main-dishes__title">La carte</h1>
    <p class="main-dishes__description">Voici la carte du Quai Antique.</p>
    <p class="main-dishes__description">Tous nos plats sont fait maison et créés avec des produits locaux.</p>
</section>

<section class="starters-dishes">
    <h2 class="starters-dishes__title">Les entrées</h2>
    <ul class="starters-dishes__list">
        <li class="bruschetta">
            <img class="bruschetta__image" src="{{asset('build/images/starters/bruschetta_tomatoes.jpg')}}" alt="Bruschetta de tomates avec dés de fromages.">
            <div class="bruschetta__description">
                <p class="bruschetta__decription--title">Bruschetta de tomates et ses dés de fromage.</p>
                <p class="bruschetta__description--details">(Pain complet maison, tomates, fromage, huile d'olive.)</p>
            </div>
            <p class="bruschetta__price">10€</p>
        </li>
        <li class="lettuce">
            <img class="lettuce__image" src="{{asset('build/images/starters/lettuce.jpg')}}" alt="Salade de mâche et dés de fromages.">
            <div class="lettuce__description">
                <p class="lettuce__description--title">Salade de mâche et ses dés de fromage.</p>
                <p class="lettuce__description--details">(Mâche, mozzarella, tomates, oignons.)</p>
            </div>
            <p class="lettuce__price">12€</p>
        </li>
        <li class="quinoa">
            <img class="quinoa__image" src="{{asset('build/images/starters/quinoa.jpg')}}" alt="Salade de quinoa et ses légumes.">
            <div class="quinoa__description">
                <p class="quinoa__description--title">Salade de quinoa et ses légumes de saison.</p>
                <p class="quinoa__description--details">(Quinoa, comcombre, tomates, pignons, oignons.)</p>
            </div>
            <p class="quinoa__price">15€</p>
        </li>
        <li class="goat-cheese-salad">
            <img class="goat-cheese-salad__image" src="{{asset('build/images/starters/goat_cheese_salad.jpg')}}" alt="Salade de chèvre.">
            <div class="goat-cheese-salad__description">
                <p class="goat-cheese-salad__description--title">Salade de chèvre.</p>
                <p class="goat-cheese-salad__description--details">(Croûtons de pain, figues, tomates, chèvres, salade, carottes, pignons, concombres,huile d'olive.)</p>
            </div>
            <p class="goat-cheese-salad__price">13€</p>
        </li>
        <li class="pasta-salad">
            <img class="pasta-salad__image" src="{{asset('build/images/starters/pasta_salad.jpg')}}" alt="Salade de pâtes.">
            <div>
                <p class="pasta-salad__title">Salade de pâtes.</p>
                <p class="pasta-salad__details">(Salade, pâtes, olives, chèvre, huile d'olive.)</p>
            </div>
            <p class="pasta-salad__price">14€</p>
        </li>
    </ul>
</section>

<section class="main-courses-dishes">
    <h2 class="main-courses-dishes__title">Les plats</h2>
    <ul class="main-courses-dishes__list">
        <li class="berthoud">
            <img class="berthoud__image" src="{{asset('build/images/main_courses/berthoud_abondance.jpeg')}}" alt="Berthoud à l'abondance.">
            <div class="berthoud__description">
                <p class="berthoud__description--title">Berthoud à l'abondance.</p>
                <p class="berthoud__description--details">(Abondance, pommes de terres, oignons, vin blanc.)</p>
            </div>
            <p class="berthoud__price">22€</p>
        </li>
        <li class="camembert">
            <img classe="camembert__image" src="{{asset('build/images/main_courses/camembert.jpeg')}}" alt="Cammenbert rôti dans sa croûte de pain.">
            <div class="camembert__description">
                <p class="camembert__description--title">Cammenbert rôti dans sa croûte de pain.</p>
                <p class="camembert__description--details">(Cammenbert, pain, huile d'olive.)</p>
            </div
            <p class="camembert__price">21€</p>
        </li>
        <li class="croziflette">
            <img class="croziflette__image" src="{{asset('build/images/main_courses/croziflette.jpeg')}}" alt="Croziflette.">
            <div class="croziflette__description">
                <p class="croziflette__description--title">Croziflette.</p>
                <p class="croziflette__description--details">(Crozets, lardons, crème, reblochon, oignons.)</p>
            </div>
            <p class="croziflette__price">18€</p>
        </li>
        <li class="reblochon-cheese-fondue">
            <img class="reblochon-cheese-fondue__image" src="{{asset('build/images/main_courses/reblochon_cheese_fondue.jpeg')}}" alt="Fondue de reblochon.">
            <div class="reblochon-cheese-fondu__description">
                <p class="reblochon-cheese-fondue__description--title">Fondue de reblochon.</p>
                <p class="reblochon-cheese-fondue__description--details">(Reblochon, pain, accompagnée d'une salade verte.)</p>
            </div>
            <p class="reblochon-cheese-fondue__price">28€</p>
        </li>
        <li class="three-cheese-fondue">
            <img class="three-cheese-fondue__image" src="{{asset('build/images/main_courses/three_cheese_fondue.jpeg')}}" alt="Fondue de trois fromages.">
            <div class="three-cheese-fondue__description">
                <p class="three-cheese-fondue__description--title">Fondue aux trois fromages.</p>
                <p class="three-cheese-fondue__description--details">(Fromage, pain, vin blanc, accompagnée d'une salade verte.)</p>
            </div>
            <p class="three-cheese-fondue__price">28€</p>
        </li>
        <li class="meat-fondue">
            <img class="meat-fondue__image" src="{{asset('build/images/main_courses/meat_fondue.jpeg')}}" alt="Fondue à la viande.">
            <div class="meat-fondue__description">
                <p class="meat-fondue__description--title">Fondue à la viande.</p>
                <p class="meat-fondue__description--details">(Boeuf, vin blanc, accompagnée d'une salade verte et d'un gratin dauphinois.)</p>
            </div>
            <p class="meat-fondue__price">28€</p>
        </li>
        <li class="charcuterie-platter">
            <img class="charcuterie-platter__image" src="{{asset('build/images/main_courses/charcuterie_platter.jpg')}}" alt="Plateau de charcuterie.">
            <div class="charcuterie-platter_description">
                <p class="charcuterie-platter__description--title">Plateau de charcuterie.</p>
                <p class="charcuterie-platter__description--details">(Rosette, jambon cru, grison, cronichon, salade.)</p>
            </div>
            <p class="charcuterie-platter__price">15€</p>
        </li>
        <li class="raclette-for-two">
            <img class="raclette-for-two__image" src="{{asset('build/images/main_courses/raclette_for_two.jpeg')}}" alt="Raclette pour deux personnes.">
            <div class="raclette-for-two__description">
                <p class="raclette-for-two__description--title">Raclette pour deux personnes.</p>
                <p class="raclette-for-two__description--details">(Reblochon, pommes de terres, bacon, salade.)</p>
            </div>
            <p class="raclette-for-two__price">28€</p>
        </li>
        <li class="raclette-for-many">
            <img class="raclette-for-many__image" src="{{asset('build/images/main_courses/raclette_for_many.jpeg')}}" alt="Raclette pour quatre personnes.">
            <div class="raclette-for-many__description">
                <p class="raclette-for-many__description--title">Raclette à partager pour 4 personnes.</p>
                <p class="raclette-for-many__description--details">(Reblochon, pommes de terres, bacon, salade.)</p>
            </div>
            <p class="raclette-for-many__price">35€</p>
        </li>
        <li class="reblochon-tart">
            <img class=="reblochon-tart__image" src="{{asset('build/images/main_courses/reblochon_tart.jpeg')}}" alt="Tarte au reblochon.">
            <div class="reblochon-tart__description">
                <p class="reblochon-tart__description--title">Tarte au reblochon.</p>
                <p class="reblochon-tart__description--details">(Reblochon, oignons, pommes de terres, lardons, crème.)</p>
            </div>
            <p class="reblochon-tart__price">18€</p>
        </li>
        <li class="tartiflette">
            <img class="tartiflette__image" src="{{asset('build/images/main_courses/tartiflette.jpeg')}}" alt="Tartiflette.">
            <div>
                <p class="tartiflette__title">Tartiflette.</p>
                <p class="tartiflette__details">(Reblochon, pommes de terres, lardons, vin blanc, crème, oignons.)</p>
            </div>
            <p class="tartiflette__price">25€</p>
        </li>
    </ul>
</section>

<section class="burgers-dishes">
    <h2 class="burgers-dishes__title">Les burgers</h2>
    <ul class="burgers-dishes__list">
        <li class="double-cheddar-burger">
            <img class="double-cheddar-burger__image" src="{{asset('build/images/burgers/double_cheddar_burger.jpg')}}" alt="Burger avec double tranches de cheddar.">
            <div>
                <p class="double-cheddar-burger__title">Burger double cheddar.</p>
                <p class="double-cheddar-burger__details">(Pain, cheddar, boeuf, salade, tomates, oignons, ail, moutarde.)</p>
            </div>
            <p class="double-cheddar-burger__price">21€</p>
        </li>
        <li class="double-cheese-burger">
            <img class="double-cheese-burger__image" src="{{asset('build/images/burgers/double_cheese_burger.jpg')}}" alt="Burger duo de fromages.">
            <div class="double-cheese-burger__description">
                <p class="double-cheese-burger__description--title">Burger duo de fromages.</p>
                <p class="double-cheese-burger__description--details">(Pain, boeuf, beaufort, abondance, salade, tomates, oignons, ail, moutarde.)</p>
            </div>
            <p class="double-cheese-burger__price">21€</p>
        </li>
        <li class="meat-burger">
            <img class="meat-burger__image" src="{{asset('build/images/burgers/meat_burger.jpg')}}" alt="Burger boeuf et poulet.">
            <div class="meat-burger__description">
                <p class="meat-burger__description--title">Burger boeuf et poulet.</p>
                <p class="meat-burger__description--details">(Pain, boeuf, poulet, cheddar, bacon, tomates, oignons, salade, moutarde, sauce barbecue, ail.)</p>
            </div>
            <p class="meat-burger__price">20€</p>
        </li>
        <li class="black-bread-burger">
            <img class="black-bread-burger__image" src="{{asset('build/images/burgers/black_bread_burger.jpg')}}" alt="Burger au pain noir.">
            <div class="black-bread-burger__description">
                <p class="black-bread-burger__description--title">Burger au pain noir.</p>
                <p class="black-bread-burger__description--details">(Pain, césame, oeuf, boeuf, cheddar, tomates, salade, oignons, ail, moutarde.)</p>
            </div>
            <p class="black-bread-burger__price">17€</p>
        </li>
        <li class="reblochon-burger">
            <img class="reblochon-burger__image" src="{{asset('build/images/burgers/reblochon_burger.jpg')}}" alt="Burger au reblochon.">
            <div class="reblochon-burger__description">
                <p class="reblochon-burger__description--title">Burger au reblochon.</p>
                <p class="reblochon-burger__description--details">(Pain, boeuf, bacon, reblochon, oignons, tomates, salade, ail, moutarde, sauce barbecue.)</p>
            </div>
            <p class="reblochon-burger__price">22€</p>
        </li>
    </ul>
</section>

<section class="vegetarians-dishes">
    <h2 class="vegetarians-dishes__title">Les plats végétariens</h2>
    <ul class="vegetarians-dishes__list">
        <li class="rice-vegetables">
            <img class="rice-vegetables__image" src="{{asset('build/images/vegetarians_dishes/rice_vegetables.jpg')}}" alt="Riz pilaf avec légumes de saison.">
            <div class="rice-vegetables__description">
                <p class="rice-vegetables__description--title">Riz pilaf et ses légumes de saison.</p>
                <p class="rice-vegetables__description--details">(Riz, tomates, oignons, carottes, champignons, poireaux, coriandre.)</p>
            </div>
            <p class="rice-vegetables__price">20€</p>
        </li>
        <li class="vegetables-soups">
            <img class="vegetables-soups__image" src="{{asset('build/images/vegetarians_dishes/vegetables_soups.jpg')}}" alt="Potage de pomme de terres et ses légumes.">
            <div class="vegetables-soups__description">
                <p class="vegetables-soups__description--title">Potage de pommes de terres et ses légumes.</p>
                <p class="vegetables-soups__description--details">(Pommes de terres, crème, haricots rouge, carottes, oignons, coriandre.)</p>
            </div>
            <p class="vegetables-soups__price">18€</p>
        </li>
        <li class="vegetables-tower">
            <img class="vegetables-tower__image" src="{{asset('build/images/vegetarians_dishes/vegetables_tower.jpg')}}" alt="Tour de légumes de saison.">
            <div class="vegetables-tower__description">
                <p class="vegetables-tower__description--title">Tour de légumes de saison.</p>
                <p class="vegetables-tower__description--details">(Assortiments de poivrons, navet.)</p>
            </div>
            <p class="vegetables-tower__price">21€</p>
        </li>
        <li class="potatoes-garlic-soups">
            <img class="potatoes-garlic-soups__image" src="{{asset('build/images/vegetarians_dishes/potatoes_garlic_soups.jpg')}}" alt="Soupe de pommes de terres et ail des ours.">
            <div class="potatoes-garlic-soups__description">
                <p class="potatoes-garlic-soups__description--title">Soupe de pommes de terres et ail des ours.</p>
                <p class="potatoes-garlic-soups__description--details">(Pommes de terres, carottes, chou, poireau, navet, coriandre, ail des ours.)</p>
            </div>
            <p class="potatoes-garlic-soups__price">23€</p>
        </li>
    </ul>
</section>

<section class="desserts-dishes">
    <h2 class="desserts-dishes__title">Les desserts</h2>
    <ul class="desserts-dishes__list">
        <li class="gourmet-coffee">
            <img class="gourmet-coffee__image" src="{{asset('build/images/desserts/gourmet_coffee.jpg')}}" alt="Café gourmand.">
            <div class="gourmet-coffee__descritpion">
                <p class="gourmet-coffee__description--title">Café gourmand.</p>
                <p class="gourmet-coffee__description--details">(Café ou thé, assortiments de mignardises.)</p>
            </div>
            <p class="gourmet-coffee__price">8€</p>
        </li>
        <li class="cheesecake">
            <img class="cheesecake__image" src="{{asset('build/images/desserts/cheesecake.jpg')}}" alt="Cheesecake aux fruits rouges.">
            <div class="cheesecake__description">
                <p class="cheesecake__description--title">Cheesecake aux fruits rouges.</p>
                <p class="cheesecake__description--details">(crème, fromage, fruits rouges.)</p>
            </div>
            <p class="cheesecake__price">8€</p>
        </li>
        <li class="chocolate-ice-cream">
            <img class="chocolate-ice-cream__image" src="{{asset('build/images/desserts/chocolate_ice_cream.jpg')}}" alt="Coupe glacé au chocolat et guimauves.">
            <div class="chocolate-ice-cream__description">
                <p class="chocolate-ice-cream__description--title">Coupe glacé chocolat et guimauves.</p>
                <p class="chocolate-ice-cream__description--details">(Glace au chocolat, pépites de chocolats, guimauves.)</p>
            </div>
            <p class="chocolate-ice-cream__price">7€</p>
        </li>
        <li class="chocolate-caramel-cake">
            <img class="chocolate-caramel-cake__image" src="{{asset('build/images/desserts/chocolate_caramel_cake.jpg')}}" alt="Gâteau au chocolat et coulis au caramel.">
            <div class="chocolate-caramel-cake__description">
                <p class="chocolate-caramel-cake__description--title">Gâteau au chocolat et son coulis de caramel.</p>
                <p class="chocolate-caramel-cake__description--details">(Chocolat, crème, caramel.)</p>
            </div>
            <p class="chocolate-caramel-cake__price">8€</p>
        </li>
        <li class="chocolate-marshmallows-cake">
            <img class="chocolate-marshmallows-cake__image" src="{{asset('build/images/desserts/chocolate_marshmallows_cake.jpg')}}" alt="Gâteau au chocolat et guimauves.">
            <div class="chocolate-marshmallows-cake__description">
                <p class="chocolate-marshmallows-cake__description--title">Gâteau au chocolat et guimauves.</p>
                <p class="chocolate-marshmallows-cake__description--details">(chocolat, crème, guimauves.)</p>
            </div>
            <p class="chocolate-marshmallows-cake__price">7€</p>
        </li>
        <li class="cream-cake">
            <img class="cream-cake__image" src="{{asset('build/images/desserts/cream_cake.jpg')}}" alt="Gâteau feuilleté à la crème mascarpone et coulis de fruits rouges.">
            <div class="cream-cake__description">
                <p class="cream-cake__description--title">Gâteau feuilleté à la crème mascarpone saveur vanille et son coulis de fruits rouges.</p>
                <p class="cream-cake__description--details">(Mascarpone, vanille, fruits rouges.)</p>
            </div>
            <p class="cream-cake__price">8€</p>
        </li>
    </ul>
</section>
{% endblock %}
