{% extends 'base.html.twig' %}

{% block title %}Le Quai Antique - Réservation{% endblock %}

{% block body %}
<h1>Formulaire de réservation.</h1>

{{ form_start(reservationForm) }}
<section>
    {{ form_row(reservationForm.reservationDate) }}
    {{ form_row(reservationForm.numberOfGuests) }}
    {{ form_row(reservationForm.reservationTime) }}
    {{ form_row(reservationForm.user) }}
    {{ form_row(reservationForm.allergy) }}
    {{ form_row(reservationForm.restaurantTime)}}

    <button type="submit" class="btn">Réserver</button>
</section>
{{ form_end(reservationForm) }}

{% endblock %}
